<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.latte.oeuff.suicidepreventionapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- The ACCESS_COARSE/FINE_LOCATION permissions must specify coarse or fine location permissions. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BeLeaF"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Change your first activity here -->
        <activity android:name=".SplashSreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Constant Value: Start as a main entry point, does not expect to receive data -->
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Constant Value: Should be displayed in the top-level launcher -->
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginMenuActivity"
            android:label="BeLeaF" />
        <activity
            android:name=".MainActivity"
            android:label="Home"
            android:theme="@style/AppTheme" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".CreateAccountActivity"
            android:label="Create an account"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".YourSpace"
            android:label="@string/title_activity_your_space"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Reminders"
            android:label="@string/title_activity_reminders"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SafetyPlanning"
            android:label="@string/title_activity_safety_planning"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Resources"
            android:label="@string/title_activity_resources"
            android:theme="@style/AppTheme" />
        <!--
             The API key(linked to the encryption key) for Google Maps is in (See the file "res/values/google_maps_api.xml") & is  used to sign the APK.
             You need a different API key for each encryption key. You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".HelpNearYou"
            android:label="@string/title_activity_help_near_you" />
        <activity
            android:name=".Feeling"
            android:label="@string/title_activity_feeling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TimePickerFragment" />
        <activity
            android:name=".Setting"
            android:label="@string/title_activity_setting" />
        <activity
            android:name=".ShowHelpNearYou"
            android:label="@string/title_activity_show_help_near_you"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>