<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.latte.oeuff.suicidepreventionapp" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- The ACCESS_COARSE/FINE_LOCATION permissions must specify coarse or fine location permissions. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- For using the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Use permission for using a camera & video -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <!-- Use permission for an external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 <!-- About the application -->
    <application
        android:name=".gallery.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BeLeaF"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Change your first activity here -->
        <activity android:name=".SplashSreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Constant Value: Start as a main entry point, does not expect to receive data -->
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Constant Value: Should be displayed in the top-level launcher -->
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginMenuActivity"
            android:label="BeLeaF" />
        <activity
            android:name=".MainActivity"
            android:label="Home"
            android:theme="@style/AppTheme" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".CreateAccountActivity"
            android:label="Create an account"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".YourSpace"
            android:label="@string/title_activity_your_space"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Todo"
            android:label="@string/title_activity_todo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SafetyPlanning"
            android:label="@string/title_activity_safety_planning"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HelpNearYou"
            android:label="@string/title_activity_help_near_you" />
        <activity
            android:name=".Feeling"
            android:label="@string/title_activity_feeling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FeelingLogics" />
        <activity android:name=".TimePickerFragment" />

        <!-- Auto-generated to add Google Play services to your project for App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".HelpNearYouOverview"
            android:label="Help Near You" />
        <activity
            android:name=".SurveyOverview"
            android:label="Survey" />
        <activity android:name=".Survey" />
        <activity android:name=".SurveyHistory" />
        <activity android:name=".SurveyVisualization" />

        <!--
            The API key(linked to the encryption key) for Google Maps is in (See the file "res/values/google_maps_api.xml") & is  used to sign the APK.
            You need a different API key for each encryption key. You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Survey_Cage" />
        <activity android:name=".Survey_C_ssrs" />
        <activity android:name=".SurveyHistory_Cage" />
        <activity android:name=".SurveyHistoryOverview" />
        <activity android:name=".SurveyVisualizationOverview" />
        <activity android:name=".SurveyVisualization_Cage_Logics" />
        <activity android:name=".SurveyVisualization_Cage" />
    </application>

</manifest>